<header>
  <div class="logo">Klinika Wesołe słoneczko</div>
  <div class="user-profile">
    <span *ngIf="username">Witaj, <span *ngIf="role === 'Doctor'">Dr.</span> {{ username }}!</span>
    <span *ngIf="!username">Witaj!</span>
    <img *ngIf="role === 'Doctor'" src="https://cdn.galleries.smcloud.net/t/galleries/gf-ZhMt-TvcR-jmrg_lekarz-medycyny-podrozy-przed-wyjazdem-w-tropiki-udaj-sie-do-lekarza-1920x1080-nocrop.jpg" alt="Profil">

    <div class="button-container" *ngIf="!username">
      <a routerLink="/login" class="top-link">Logowanie</a>
    </div>
    <div class="button-container" *ngIf="!username">
      <a routerLink="/register" class="top-link">Rejestracja</a>
    </div>

    <div class="button-container" *ngIf="username">
      <button (click)="logout()" class="logout-button">Wyloguj</button>
    </div>
  </div>
</header>
<main>
  <div class="welcome">
    <span *ngIf="username">
        Witaj, <span *ngIf="role === 'Doctor'">Dr.</span> {{ username }}!
    </span>
    <span *ngIf="!username">Witaj! </span>Co chciałbyś dziś zrobić?
  </div>

  <div class="tiles">
    <a routerLink="/knowledge" class="tile-link">
      <div class="tile">
        <p>📚</p>
        <h2>Baza Wiedzy</h2>
        <p>Dostęp do artykułów, filmów i infografik</p>
      </div>
    </a>

    <a routerLink="/chat" class="tile-link">
      <div class="tile">
        <p>💬</p>
        <h2>Live Chat</h2>
        <p>Rozmawiaj ze współpracownikami</p>
      </div>
    </a>

    <a routerLink="/calendar" class="tile-link" *ngIf="role === 'Doctor' || role === 'Patient'">
      <div class="tile">
        <p>📅</p>
        <h2>Kalendarz</h2>
        <p>Przeglądaj kalendarz i umawiaj wizyty</p>
      </div>
    </a>

    <a routerLink="/users" class="tile-link" *ngIf="role === 'Doctor'">
      <div class="tile">
        <p>👨‍⚕️</p>
        <h2>Lista pacjentów</h2>
        <p>Zarządzaj swoimi pacjentami</p>
      </div>
    </a>

    <a routerLink="/medicines" class="tile-link" *ngIf="role === 'Doctor'">
      <div class="tile">
        <p>📋</p>
        <h2>Lista leków</h2>
        <p>Dodawaj leki i sprawdzaj datę ważności</p>
      </div>
    </a>

    <a routerLink="/trends" class="tile-link" *ngIf="role === 'Doctor'">
      <div class="tile">
        <p>📋</p>
        <h2>Analiza trendów zdrowotnych</h2>
        <p>Wykresy wraz z podsumowaniem</p>
      </div>
    </a>
  </div>
</main>
